<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.xmlhttprequest"
    version="1.0.0">
    <name>XMLHttpRequest</name>
    <author>PolyVi Inc.</author>
    <description>xFace XMLHttpRequest Extension</description>
    <license>GPLv3</license>
    <keywords>cordova, xface, xmlhttprequest</keywords>

    <js-module name="XMLHttpRequest" src="www/XMLHttpRequest.js">
        <clobbers target="window.xFace.XMLHttpRequest" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="XMLHttpRequest">
                <param name="android-package" value="com.polyvi.xface.extension.xmlhttprequest.XXMLHttpRequestExt"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/XAjaxException.java" target-dir="src/com/polyvi/xface/extension/xmlhttprequest" />
        <source-file src="src/android/XAjaxRequestListener.java" target-dir="src/com/polyvi/xface/extension/xmlhttprequest" />
        <source-file src="src/android/XIAjaxDataInterface.java" target-dir="src/com/polyvi/xface/extension/xmlhttprequest" />
        <source-file src="src/android/XXMLHttpRequest.java" target-dir="src/com/polyvi/xface/extension/xmlhttprequest" />
        <source-file src="src/android/XXMLHttpRequestContainer.java" target-dir="src/com/polyvi/xface/extension/xmlhttprequest" />
        <source-file src="src/android/XXMLHttpRequestExt.java" target-dir="src/com/polyvi/xface/extension/xmlhttprequest" />
     </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="XMLHttpRequest">
                <param name="ios-package" value="XXMLHttpRequestExt" />
            </feature>
        </config-file>
        <header-file src="src/ios/XMutableURLRequest.h" />
        <source-file src="src/ios/XMutableURLRequest.m" />
        <header-file src="src/ios/XXMLHttpRequestExt.h" />
        <source-file src="src/ios/XXMLHttpRequestExt.m" />
    </platform>
</plugin>
